$mdc-theme-primary: #cd2027;
$mdc-theme-secondary: #26a69a;
$mdc-theme-background: #0a0a0a;
$mdc-theme-surface: #1b1b1b;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #ffffff;
$mdc-theme-on-surface: #ffffff;
$mdc-theme-error: #b00020;
$mdc-theme-on-error: #800000;

@import "material-components-web/material-components-web";
